body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  .header_field {
   background-image: url(hero.png);
   background-attachment: fixed;
   background-size:cover;
   background-position: center;
   padding: 0px;
   
  }
  header {
    color: #fff;
    text-align: center;
    padding-top: 15px;
    padding-left: 45px;
  }
  
  .container_h {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container_hero{
    align-items: initial;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav ul li {
    margin-right: 40px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  
  
  .hero {
    
    color: #fff;
    text-align: left;
    padding: 130px;
  }
  
  .hero h2 {
    font-size: 82px;
    
    
  }
  
  .hero p {
    font-size: 1.2em;
  }
  
.upload_data{
    margin-top: 0px;
    height: auto;
    background-color: #ebc10733;
    
}

/*----------------------------------------*/
input[type="file"] {
  position: relative;
}

input[type="file"]::file-selector-button {
  width: 136px;
  color: transparent;
}

input[type="file"]::before {
  position: absolute;
  pointer-events: none;
  top: 10px;
  left: 16px;
  height: 20px;
  width: 20px;
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%230964B0'%3E%3Cpath d='M18 15v3H6v-3H4v3c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-3h-2zM7 9l1.41 1.41L11 7.83V16h2V7.83l2.59 2.58L17 9l-5-5-5 5z'/%3E%3C/svg%3E");
}

input[type="file"]::after {
  position: absolute;
  pointer-events: none;
  top: 11px;
  left: 40px;
  color: #0964b0;
  content: "Upload File";
}

input[type="file"]::file-selector-button {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}

input[type="file"]::file-selector-button:hover {
  background-color: #b4bfd4;
}

input[type="file"]::file-selector-button:active {
  background-color: #e5e7eb;
}

/*------------------------*/

.btn {
    background-color: #186c1b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px ;
  }
  
  .col-md-6 {
    flex: 1 1 50%;
    align-items: center;
    justify-items: center;
    height: 100%;
  }
  .dataset_details{
    background-color: white;
    height: 340px;
    width: 90%;
    font-size: 15px;
    font-style: bold;
    text-align: center;
  
    
  }
/*---------------------------------------*/
  .col-md-6 input[type=submit]{
    background-color: #186c1b;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
/*----------------------------*/
  }
  .elbow_image{
    background-color: white;
    height: 340px;
    width: 90%;
    
    

  }

  .result{
    margin-top: 50px;
    text-align: center;
    height: 300px;
    border: 2px solid #333;
  }
  
  .content {
    padding: 10px;
  }
  
  .form {
    width: 500px;
    margin: 0 auto;
  }
  
  .form h2 {
    margin-bottom: 20px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form input[type="text"], .form input[type="email"], .form input[type="tel"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
  
  .form input[type="submit"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #333;
    color: #fff;
    border: none;
  }
  
  /* Footer styles */
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  /* Add more styles as needed for the rest of your content */
  
 
  
  
 
  
  
  
  
 


  